################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/AdunTech.Redis/obj
/.vs
/AdunTech.Redis.Demo/bin/Debug/netcoreapp3.1
/AdunTech.Redis.Demo/obj
/AdunTech.Redis/bin/Debug/netstandard2.0
/AdunTech.Excel/obj
/AdunTech.Redis/bin/Release/netstandard2.0
/AdunTech.Redis/Properties/PublishProfiles
/AdunTech.Excel/bin/Debug/netstandard2.0
/AdunTech.Excel.Demo/bin/Debug/net5.0
/AdunTech.Excel.Demo/obj
/AdunTech.Extension/bin/Debug/netstandard2.0
/AdunTech.Extension/obj
/AdunTech.Excel/bin/Release/netstandard2.0
/AdunTech.Excel/Properties/PublishProfiles/FolderProfile.pubxml.user
/AdunTech.Excel/AdunTech.Excel.csproj.user
/AdunTech.Extension.Tests/bin/Debug/netcoreapp3.1
/AdunTech.Extension.Tests/obj
/AdunTech.Cryptography/bin/Debug/netstandard2.0
/AdunTech.Cryptography/obj
/AdunTech.Cryptography.Tests/bin/Debug/netcoreapp3.1
/AdunTech.Cryptography.Tests/obj
/AdunTech.Cryptography.Tests/bin/Debug/net5.0
/AdunTech.Cryptography/Properties/PublishProfiles
/AdunTech.Cryptography/AdunTech.Cryptography.csproj.user
/AdunTech.Cryptography/bin/Release/netstandard2.0
/AdunTech.Co2Net/bin/Debug/netstandard2.0
/AdunTech.Co2Net/obj
/AdunTech.Co2Net.Tests/bin/Debug/netcoreapp3.1
/AdunTech.Co2Net.Tests/obj
/AdunTech.Extension.Tests/bin/Debug/net5.0
/AdunTech.Co2Repository/obj
/AdunTech.EFCoreRepository/obj
/AdunTech.EFCoreRepository/bin/Debug/netstandard2.1
/AdunTech.EFCoreRepository/AdunTech.EFCoreRepository.csproj.user
/AdunTech.EFCoreRepository/bin/Release/netstandard2.1
/AdunTech.EFCoreRepository/Properties/PublishProfiles
/AdunTech.HttpException/obj
/AdunTech.HttpException.Demo/obj
/AdunTech.HttpException.Demo/bin/Debug/net5.0
/AdunTech.HttpException/bin/Debug/netstandard2.0
/AdunTech.ExceptionDetail/obj
/AdunTech.ExceptionDetail/bin/Debug/net5.0
/AdunTech.ExceptionDetail/bin/Release/net5.0
/AdunTech.ExceptionDetail/Properties/PublishProfiles
/AdunTech.ExceptionDetail/AdunTech.ExceptionDetail.csproj.user
/AdunTech.AutoMapperExtension/obj
/AdunTech.AutoMapperExtension.Tests/bin/Debug/net5.0
/AdunTech.AutoMapperExtension.Tests/obj
/AdunTech.SapNwRfc/obj
/AdunTech.SapNwRfc/bin/Debug/netstandard2.0
/AdunTech.SapNwRfc.Demo/bin/Debug/net5.0
/AdunTech.SapNwRfc.Demo/obj
/AdunTech.SapNwRfc.Demo/dev_rfc.log
/AdunTech.SapNwRfc.Demo/appsettings.json
/AdunTech.SapNwRfc.Demo/AdunTech.SapNwRfc.Demo.csproj.user
/AdunTech.SapNwRfc/AdunTech.SapNwRfc.csproj.user
/AdunTech.CommonDomain/obj
/AdunTech.CommonInfra/obj
/AdunTech.CommonDomain/bin
/AdunTech.CommonInfra/bin/Debug/netstandard2.1
/AdunTech.AutoMapperExtension/bin/Release/netstandard2.0
/AdunTech.AutoMapperExtension/Properties/PublishProfiles
/AdunTech.AutoMapperExtension/AdunTech.AutoMapperExtension.csproj.user
/AdunTech.Co2Net/bin/Release/netstandard2.0
/AdunTech.Co2Net/Properties/PublishProfiles
/AdunTech.Co2Net/AdunTech.Co2Net.csproj.user
/AdunTech.CommonInfra/bin/Release/netstandard2.1
/AdunTech.CommonInfra/Properties/PublishProfiles
/AdunTech.CommonInfra/AdunTech.CommonInfra.csproj.user
/AdunTech.SapRfc/obj
/AdunTech.SapRfc.Test/obj
/AdunTech.SapRfc.Test/App.config
/AdunTech.SapRfc/bin/Debug
/AdunTech.SapRfc.Test/bin/Debug
/packages/Newtonsoft.Json.13.0.1
/AdunTech.Npoco2Net/bin
/AdunTech.Npoco2Net/obj
/AdunTech.Npoco2Net/Properties/PublishProfiles
/AdunTech.Npoco2Net/AdunTech.Npoco2Net.csproj.user
/AdunTech.NPoco2Mysql/obj
/AdunTech.NPoco2Mysql/bin/Debug/netstandard2.0
/AdunTech.NPoco2SqlServer/obj
/AdunTech.NpocoDemo/bin/Debug/net6.0
/AdunTech.NpocoDemo/obj
/AdunTech.NpocoDemo/Properties
/AdunTech.NPoco2SqlServer/bin/Debug/netstandard2.0
/AdunTech.NpocoDemo/appsettings.json
/AdunTech.Web/obj
/AdunTech.Json/bin/Debug/netstandard2.0
/AdunTech.Json/obj
/AdunTech.ExceptionDetail/bin/Debug/net6.0
/AdunTech.AutoMapperExtension.Tests/bin/Debug/net6.0
/AdunTech.AutoMapperExtension/bin
/AdunTech.FSS/bin/Debug/netstandard2.0
/AdunTech.FSS/obj
/AdunTech.FSS.Test/obj
/AdunTech.FSS.Test/appsettings.json
/AdunTech.FSS.Test/appsettings.Development.json
/AdunTech.FSS.Test/bin/Debug/net6.0
